blinker==1.8.2
catboost==1.2.7
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.1.7
colorama==0.4.6
contourpy==1.0.7
cv==1.0.0
cycler==0.11.0
easygui==0.98.2
Flask==3.0.3
flask-cors==5.0.1
fonttools==4.39.2
graphviz==0.20.3
gunicorn==23.0.0
idna==3.3
importlib-resources==5.12.0
importlib_metadata==8.4.0
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
keras==2.12.0
kiwisolver==1.4.4
MarkupSafe==2.1.5
matplotlib==3.7.1
narwhals==1.31.0
numpy==1.26.4
opencv-contrib-python==4.7.0.72
opencv-python==4.7.0.72
packaging==23.0
panda==0.3.1
pandas==2.2.3
panorama==0.5.0
Pillow==9.4.0
plotly==6.0.1
pyparsing==3.0.9
python-dateutil==2.8.2
python-resize-image==1.1.20
pytz==2022.7.1
requests==2.27.1
scikit-learn==1.6.1
scipy==1.13.1
seaborn==0.12.2
six==1.16.0
threadpoolctl==3.6.0
tzdata==2025.2
urllib3==1.26.7
Werkzeug==3.0.4
zipp==3.15.0
